@page
@model Assiduite.Pages.Matieres.IndexModel

@{
    ViewData["Title"] = "Gestion des matières";
}

<!--Add Matiere-->
<div class="card">
    <div class="card-header ">
        <div class="row">
            <div class="col-sm-6 text-left">
                <h2 class="card-title">Gestion de matière</h2>
                <h5 class="card-category">Ajouter une nouvelle matière</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row container">
            <form method="post" asp-page-handler="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="Matiere.Nom_Mat" class="control-label"></label>
                            <input asp-for="Matiere.Nom_Mat" class="form-control" style="width:25rem" />
                            <span asp-validation-for="Matiere.Nom_Mat" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="submit" value="Ajouter" class="btn btn-primary" style="top:1rem"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header ">
        <div class="row">
            <div class="col-sm-6 text-left">
                <h2 class="card-title">Gestion de matière</h2>
                <h5 class="card-category">Ajouter une nouvelle matière</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row container">
            <div class="col-md-12">
                <table class="table" id="MatiereTable" style="text-align:center">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Matieres[0].Nom_Mat)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Matieres)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nom_Mat)
                                </td>
                                <td>
                                    <a data-toggle="modal" data-target="#pres_@item.Id_Mat" asp-route-id="@item.Id_Mat" class="btn btn-success btn-round" style="padding: 0.5rem">
                                        <i class="fal fa-list-ul"></i>
                                        Liste de présence
                                    </a>
                                    <a data-toggle="modal" data-target="#edit_@item.Id_Mat" asp-route-id="@item.Id_Mat" class="btn btn-info btn-round" style="padding: 0.5rem">
                                        <i class="fal fa-info"></i>
                                        Informations
                                    </a>
                                    <a data-toggle="modal" data-target="#del_@item.Id_Mat" asp-route-id="@item.Id_Mat" class="btn btn-danger btn-round" style="padding: 0.5rem">
                                        <i class="fal fa-trash-alt"></i>
                                        Supprimer
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

            @foreach (var item in (IEnumerable<Models.MatiereSeance>)ViewData["_Matieres"])
            {
                <!-- Modal Matiere -->
                <div class="modal fade" id="pres_@item.Matiere.Id_Mat" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content style-modal">
                            <div class="modal-header">
                                <img src="~/EasyAttendance.png" style=" margin-left: auto; margin-right: auto; width:2rem ; height:auto" />
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <h5 style="text-align:center; font-weight: bold"> Easy Attendance </h5>
                            <div class="modal-body">
                                <input type="hidden" asp-for="Matiere.Id_Mat" value="@item.Matiere.Id_Mat" />


                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label style="margin-left:7rem">Nom de la matière</label>
                                            <input style="text-align:center ; color:#356c96; margin-left:1rem;" class="form-control font-weight-bold" value="@item.Matiere.Nom_Mat" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            @if (item.Seance.Count == 0)
                                            {
                                                <div class="form-control font-inputs-modal txt-danger" style="text-align:center ; margin-left:1rem;"> Aucune filière n'est assigner à cette matière </div>
                                            }
                                            @foreach (var Fil in item.Seance )
                                            {
                                                <div class="Input-Model">
                                                    <a class="form-control font-inputs-modal" href="/Matieres/ListeSeance?id=@Fil.Id_Seance">@Fil.Filiere.Annee_Fil @Fil.Filiere.Nom_Fil </a>
                                                    <span asp-validation-for="@Fil.Filiere.Id_Fil" class="text-danger"></span>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>
                                <div class="card-footer" style="text-align:center">
                                    <button type="submit" class="btn btn-fill btn-primary">Enregistrer les modifications</button>
                                </div>
                        </div>
                    </div>
                </div>
                
                <!-- Modal Edit -->
                <div class="modal fade" id="edit_@item.Matiere.Id_Mat" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content style-modal">
                            <div class="modal-header">
                                <img src="~/EasyAttendance.png" style=" margin-left: auto; margin-right: auto; width:2rem ; height:auto" />
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <h5 style="text-align:center; font-weight: bold"> Easy Attendance </h5>
                            <div class="modal-body">
                                <form asp-page-handler="Edit" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Matiere.Id_Mat" value="@item.Matiere.Id_Mat" />
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label style="margin-left:7rem">Nom de la matière</label>
                                                <input style="text-align:center ; color:#356c96; margin-left:1rem;" class="form-control font-weight-bold" value="@item.Matiere.Nom_Mat" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label asp-for="Matiere.Nom_Mat" style="margin-left:7rem">Nom de la matière</label>
                                                <input type="text" asp-for="Matiere.Nom_Mat" class="form-control" value="@item.Matiere.Nom_Mat"  style="text-align:center ; margin-left:1rem;" />
                                                <span asp-validation-for="Matiere.Nom_Mat" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                    <div class="card-footer" style="text-align:center">
                                        <button type="submit" class="btn btn-fill btn-primary">Enregistrer les modifications</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Delete -->
                <div class="modal fade" id="del_@item.Matiere.Id_Mat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content style-modal" style="top: 100px ; border-radius: 2rem;">
                            <div class="modal-header">
                                <img src="~/EasyAttendance.png" style=" margin-left: auto; margin-right: auto; width:2rem ; height:auto" />
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <h5 class="font-modal" style="text-align:center;"> Easy Attendance </h5>
                            <div class="modal-body">
                                <p class="font-inputs-modal" style="font-weight:bold ; text-align:center">
                                    Est-ce que vous voullez vraiment supprimer la matière <span class="font-del">@item.Matiere.Nom_Mat</span>
                                </p>
                                <form asp-page-handler="Delete" method="post">
                                    <div class="row" style="align-content:center">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-6">
                                            <div class="form-group" style="text-align:center">
                                                <input type="hidden" name="id" value="@item.Matiere.Id_Mat" style="text-align:center ; color:#356c96;" class="form-control font-weight-bold" readonly />
                                                <br />
                                                <button type="submit" class="btn btn-danger" style="margin-right: 2rem;">Supprimer</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            }

            @section Scripts {

                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            var table = $('#MatiereTable').DataTable({
                "pagingType": "simple",
                "language": {
                    "lengthMenu": "Affichage _MENU_ matières par page",
                    "info": "Page: _PAGE_ sur _PAGES_",
                },
                "paginate": {
                    "first": "Première",
                    "last": "Dernière",
                    "previous": "Precedent",
                    "next": "Suivant",
                }
            });
            $('.dataTables_wrapper').removeClass('form-inline');
        });
    </script>

            }
