@page
@model Assiduite.Pages.Etudiants.IndexStudentModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].Filiere)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Etudiant)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Filiere.Nom_Fil)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id_Etudiant">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id_Etudiant">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id_Etudiant">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

