@page
@model Assiduite.Pages.Etudiants.IndexModel
@{
    ViewData["Title"] = "Index";
}


<!-- Card for Add User -->
<div class="card">
    <div class="card-header ">
        <div class="row">
            <div class="col-sm-6 text-left">
                <h2 class="card-title">Gestion de Etudiant</h2>
                <h5 class="card-category">Ajouter un nouveau Etudiant</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="form-group-input">
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Nom_User">Nom</label>
                        <input asp-for="Input.Nom_User" class="form-control"  />
                        <span asp-validation-for="Input.Nom_User" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="">
                        <label asp-for="Input.Prenom_User">Prénom</label>
                        <input asp-for="Input.Prenom_User" class="form-control"  />
                        <span asp-validation-for="Input.Prenom_User" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password">Mot de passe </label>
                        <input asp-for="Input.Password" class="form-control"  />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="">
                        <label asp-for="Input.ConfirmPassword"> Confirmation de Mot de passe</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control"  />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Type_User">Filière</label>
                        <select asp-for="Input.Type_User" class="form-control" >
                            @foreach (var _fil in Model._db.filiere.ToArray())
                            {
                                <option value="@_fil.Id_Fil">@_fil.Nom_Fil</option>
                            }
                        </select>
                        <span asp-validation-for="Input.Type_User" class="text-danger"></span>
                    </div>
                </div>
                <div asp-validation-summary="All" style="color:#dc3545 ;"></div>
                <div class="form-group-input">
                    <div class="form-group-item">
                        <button type="submit" class="btn btn-fill btn-primary">Ajouter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Card for list All users-->
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="UserTable" style="text-align:center">
                    <thead>
                        <tr>
                            <th>
                                Matricule
                            </th>
                            <th>
                                Nom
                            </th>
                            <th>
                                Prénom
                            </th>
                            <th>
                                Filière
                            </th>
                            <th>
                                Nombre d'absence
                            </th>
                            <th>
                                Taux d'absence
                            </th>
                            <th style="width: 200px;">
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var _Etud in Model._studentAbs)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => _Etud.Student.User.Mat_User)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => _Etud.Student.User.Nom_User)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => _Etud.Student.User.Prenom_User)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => _Etud.Student.Filiere.Nom_Fil)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => _Etud.NbrAbs)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => _Etud.TauxAbs) %
                                </td>
                                <td>
                                    
                                    <a data-toggle="modal" data-target="#edit_@_Etud.Student.User.Id" asp-page="./Edit" class="btn btn-info btn-round" style="padding: 0.5rem">
                                        <i class="fal fa-info"></i>
                                        Informations
                                    </a>
                                    <a data-toggle="modal" data-target="#del_@_Etud.Student.User.Id" asp-page="./Delete" class="btn btn-danger btn-round" style="padding: 0.5rem">
                                        <i class="fal fa-trash-alt"></i>
                                        Supprimer
                                    </a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
@foreach (var _Etud in Model._studentAbs)
{
    <!-- Modal Edit -->
    <div class="modal fade" id="edit_@_Etud.Student.User.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content style-modal" style="top: -12rem;">
                <div class="modal-header">
                    <img src="~/EasyAttendance.png" style=" margin-left: auto; margin-right: auto; width:2rem ; height:auto" />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h5 style="text-align:center; font-weight: bold"> Easy Attendance </h5>
                <div class="modal-body">
                    <form asp-page-handler="Edit" asp-route-id="@_Etud.Student.User.Id" method="post">
                        <div style="display: flex; justify-content: center;">
                            <div class="form-group" >
                                <label asp-for="Input.Mat_User">Matricule</label>
                                <input  name="Mat_User" style="text-align:center ; color:#356c96; " class="form-control font-weight-bold" value="@_Etud.Student.User.Mat_User" readonly />
                                <span asp-validation-for="Input.Mat_User" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="">
                                    <label asp-for="Input.Nom_User"  >Nom</label>
                                    <input asp-for="Input.Nom_User" name="Nom_User" class="form-control font-inputs-modal" value="@_Etud.Student.User.Nom_User"  style="width: 13rem;" />
                                    <span asp-validation-for="Input.Nom_User" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label asp-for="Input.Prenom_User">Prénom</label>
                                    <input asp-for="Input.Prenom_User" name="Prenom_User" class="form-control font-inputs-modal" value="@_Etud.Student.User.Prenom_User" style="width: 13rem; "  />
                                    <span asp-validation-for="Input.Prenom_User" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="">
                                    <label asp-for="Input.Email"></label>
                                    <input name="Email" class="form-control font-inputs-modal" value="@_Etud.Student.User.Email" style="width: 13rem;" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label asp-for="Input.Type_User">Filière</label>
                                    <select asp-for="Input.Type_User" class="form-control" style="width: 13rem; ">
                                        @foreach (var _fil in Model.Filieres)
                                        {
                                            if (_Etud.Student.Filiere.Id_Fil == _fil.Id_Fil)
                                            {
                                                <option value="@_fil.Id_Fil" selected>@_fil.Nom_Fil</option>
                                            }
                                            else
                                            {
                                                <option value="@_fil.Id_Fil">@_fil.Nom_Fil</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="Input.Type_User" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                           <div class="row">
                               <div class="col-md-6">
                                   <div class="">
                                       <label>Nombre d'absence</label>
                                       <input style="color:#356c96; width: 13rem; text-align:center ; " class="form-control font-weight-bold" value="@_Etud.NbrAbs"  readonly />
                                   </div>
                               </div>
                               <duv class="col-md-6">
                                   <div class="">
                                       <label>Taux d'absence</label>
                                       <input class="form-control font-weight-bold" value="@_Etud.TauxAbs %" style=" color:#356c96; width: 13rem;  text-align:center;" readonly />
                                   </div>
                               </duv>
                           </div>
                           
                           
                        <div class="card-footer" style="text-align:center">
                            <button type="submit" class="btn btn-fill btn-primary">Enregistrer les modifications</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Delete-->
    <div class="modal fade" id="del_@_Etud.Student.User.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content style-modal" style="top: 100px ; border-radius: 2rem;">
                <div class="modal-header">
                    <img src="~/EasyAttendance.png" style=" margin-left: auto; margin-right: auto; width:2rem ; height:auto" />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h5 class="font-modal" style="text-align:center;"> Easy Attendance </h5>
                <div class="modal-body">
                    <p class="font-inputs-modal" style="font-weight:bold ; text-align:center">
                        Est-ce que vous voullez vraiment supprimer l'étudiant <span class="font-del">@_Etud.Student.User.Nom_User</span>  <span class="font-del">@_Etud.Student.User.Prenom_User</span>
                        immatriculé par :
                    </p>
                    <form asp-page-handler="Delete" method="post" asp-route-id="@_Etud.Student.User.Id">
                        <div class="row" style="align-content:center">
                            <div class="col-md-2"></div>
                            <div class="col-md-6">
                                <div class="form-group" style="text-align:center">
                                    <input asp-for="_user.Mat_User" style="text-align:center ; color:#356c96;" class="form-control font-weight-bold" value="@_Etud.Student.User.Mat_User" readonly />
                                    <br />
                                    <button type="submit" class="btn btn-danger" style="margin-right: 2rem;">Supprimer</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            var table = $('#UserTable').DataTable({
                "pagingType": "simple",
                "language": {
                    "lengthMenu": "Affichage _MENU_ Etudiants par page",
                    "info": "Page: _PAGE_ sur _PAGES_",
                },
                "paginate": {
                    "first": "Première",
                    "last": "Dernière",
                    "previous": "Precedent",
                    "next": "Suivant",
                }
            });
            $('.dataTables_wrapper').removeClass('form-inline');
        });
    </script>
}
